<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Trace" internalLogFile="c:\users\Betacom\Aca3Log\internal-nlog.log"
		autoReloaded="true"
	  throwException="true"
	  >
	<!--internalloglevel ci riporta i possibili errori che posso avere nella configurazione -->

	<targets>

		<target name="sendMail" xsi:type="Mail"
				subject="prova nlog email"
				to="giuseppe.b95@outlook.it"
				from="GiuseppeBuscemi@outlook.it"
				body="${longdate}|${message}"
				enableSsl="true"
				smtpAuthentication="Basic"
				smtpServer=""
				smtUserName=""
				smtpPassword=""
				smtpPort=""/>
		<target name="logconsole" xsi:type="Console" />
		<target
				name="Databasio"
				xsi:type="Database"
				dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
				connectionString="${configsetting:item=ConnectionStrings.nlog}"
				commandText="insert into [dbo].[UserLog] (message) values (@message)"/>
		<parameter name="@message" layout="${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole"/>

		<logger name="*"  minLevel="Trace" writeTo="Databasio"/>
	</rules>
</nlog>


<!--targets–    definisce gli obiettivi/output del registro
	rules– definisce le regole di instradamento dei log
	extensions– carica le estensioni NLog dal file *.dll
	include– include file di configurazione esterno
	variable– imposta il valore di una variabile di configurazione-->

<!--LogLevel	Ordinale	Gravità	Uso tipico
Trace	0	Livello più prolisso. Utilizzato per lo sviluppo e raramente abilitato in produzione.	Ex. Payload di richiesta, payload di risposta, metodo di inizio X o metodo di fine X
Debug	1	Debug del comportamento dell'applicazione da eventi interni di interesse.	Ex. Query eseguita, Utente autenticato, Sessione scaduta
Info	2	Informazioni che evidenziano lo stato di avanzamento o gli eventi di durata dell'applicazione.
warn	3	Avvisi su problemi di convalida o errori temporanei che possono essere ripristinati.
Error	4	Errori in cui la funzionalità non è riuscita o è stata rilevata un'eccezione.
Fatal	5	Livello più critico. L'applicazione sta per essere interrotta.-->




<!--La rulessezione controlla come i LogEvents dagli oggetti
Logger vengono reindirizzati alle destinazioni di output .
Dove il nome del logger e
i livelli di log possono essere utilizzati per il filtraggio.



name– Corrisponde al nome logger dell'oggetto Logger - può includere caratteri jolly (* e ?)
minlevel– livello minimo per accedere
maxlevel– livello massimo da registrare
level– singolo livello per accedere
levels- elenco separato da virgole di livelli da registrare
writeTo– elenco separato da virgole di destinazioni su cui scrivere
final– nessuna regola viene elaborata dopo che una regola finale corrisponde
enabled- impostare su falseper disabilitare la regola senza eliminarla
ruleName- identificatore della regola per consentire la ricerca della regola con Configuration.FindRuleByNamee Configuration.RemoveRuleByName. Introdotto in NLog 4.6.4
finalMinLevel - La corrispondenza dei logger sarà limitata al livello minimo specificato per le seguenti regole. Introdotto in NLog 5.0-->