<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Trace" internalLogFile="c:\users\Betacom\Aca3Log\internal-nlog.log"
		autoReloaded="true"
	  throwException="true"
	  >
	<!--internalloglevel ci riporta i possibili errori che posso avere nella configurazione -->

	<targets>

		<!--<target name="sendMail" xsi:type="Mail"
				subject="prova nlog email"
				to="giuseppe.b95@outlook.it"
				from="GiuseppeBuscemi@outlook.it"
				body="${longdate}|${message}"
				enableSsl="true"
				smtpAuthentication="Basic"
				smtpServer=""
				smtUserName=""
				smtpPassword=""
				smtpPort=""/>
		<target name="logconsole" xsi:type="Console" />-->

		<target
				name="Databasio"
				xsi:type="Database"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=AdminLog;Integrated Security=True;TrustServerCertificate=True">
			
			<commandText>
			INSERT INTO [ErrorLog]
			([ErrorCode], [ErrorDescription],[ErrorOrigin_Class], [ErrorOrigin_Method], [ErrorTime], [ErrorMachine])
			VALUES
			(@errorcode, @message, @errorclass, @callsite, @date, @machinename)
		  </commandText>

			<parameter name="@errorcode" layout ="${event-properties:item=ErrorCode}"/>
			<parameter name="@message" layout ="${message}"/>
			<parameter name="@errorclass" layout ="${event-properties:item=ErrorClass}"/>
			<parameter name="@callsite" layout ="${callsite:methodName}"/>
			<parameter name="@date" layout ="${date}"/>
			<parameter name="@machinename" layout ="${machinename}"/>
			
		</target>
		
	</targets>

	<rules>

		<logger name="*"  minLevel="Trace" writeTo="Databasio"/>
	</rules>
</nlog>
